#bookContainer {
  background-color: #283445;
  padding: 1ex;
}
.columnWrapper {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
}
#bookText {
  font-size: 3ex;
  
  
}

#rightColumn,
#leftColumn {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#bookImg {
  flex: 1;
  margin: auto;
  margin: 2ex;
}
#bookText {
  flex: 1;
  margin: auto;
  margin: 2ex;
}
.btn {
  margin: 0.5ex;
  height: 4ex;
  padding: 0.6ex;
  color: #dc9b2c!important;
  background-color: #555358!important;
  border: none!important;
  font-size: large;
  flex: 1;
}
.btn:hover {
  background-color: #dc9b2c!important;
  color: #0f1016!important;
}
#btnWrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-left:10ex;
    padding-right: 10ex;
    
}
#amazonBtn .btn {
    align-self: center;
    margin:auto;      
}

.linkWrapper {
  flex: 1;
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .columnWrapper {
    flex-direction: column !important;
  }
  .container {
    display: flex;
    flex-direction: column !important;
  }
  p {
    font-size: x-large;
  }
}
