#contactContainer {
  background-color: #283445;
  padding: 1ex;
}
.columnWrapper {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
}
#contactText {
  font-size: 3ex;
  font-weight: 100;
  padding: 2ex;
}
#leftColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
#rightColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex: 1;
}
#rightColumn .socialIcons {
  fill: #555358;
  height: 5ex;
}
#rightColumn .socialIcons:hover {
  fill: #dc9b2c;
}
#rightColumn .socialLinkList {
  margin: auto;
  flex:1;
  width:100%;
}
.formWrapper {
  margin: auto;
  width: 90%;
}
#formTitle {
  text-align: center;
}
.input {
  width: 100%;
  background-color: #d3d3d3;
  border: 0px;
  padding: 0.5ex;
  -webkit-box-shadow: 10px 10px 9px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 9px -4px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 9px -4px rgba(0, 0, 0, 1);
}
.textArea {
  height: 10ex;
}
#submit {
  background-color: #555358;
  color:#dc9b2c;
  -webkit-box-shadow: 10px 10px 9px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 9px -4px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 9px -4px rgba(0, 0, 0, 1);
}
#submit:hover {
  background-color: #dc9b2c;
  color:#0F1016;
}

@media only screen and (max-width: 480px) {
  .columnWrapper {
    flex-direction: column !important;
  }
}
