article {
    font-size: 3ex;
    
    padding:  0rem 1.5rem 0rem;
    background-color: none;
    margin: 1rem;
   
}
article a {
    color: #DC9B2C;
}
article a:hover {
    color: #DC9B2C;
}
#about {
    background-color: rgb(0,0,0, 0);
}
.articleWrapper h1 {
    line-height: 3ex;
    margin-top: 1em;
 
}
.articleWrapper {
    display:flex;
    flex-direction: column;
    background-color: #1f212e98;
}
.article-hr{
    border-top: 1px solid #DC9B2C;
}
@media only screen and (max-width: 480px) {
    article {
        padding:2px;
        margin:0px;
    }
    .container {
        padding: 0px;
    }
}