.contactBar {
    text-align: center;
    background-color: #D5B870;
    color:#555358;
  
}
.contactBar h1 {

    color:#555358;
}

/* .contactBar a {
    color:#283445!important;
}
.contactBar a:hover {
    color:#283445!important;
} */