.Dharma-Hr-Wrapper {
    display:flex;
    flex-direction: row;
    color: #DC9B2C;
    position: relative;
    margin:auto;
    width: 100%;
    justify-content: center;
    align-content: center;
}
.hr-Wheel {
    width:2ex;
    fill:#DC9B2C;
    position: relative;
    top:-2ex;
}
.hr {
    border-bottom:1px solid #DC9B2C;
    width: 45%;
    color:#DC9B2C;
    
}
.dot {
    margin:.5ex;
    position: relative;
    top:-2ex;
}