.Dharma-Hr-Wrapper {
    display:flex;
    flex-direction: row;
    color: #DC9B2C;
    justify-content: center;
}
.hr-Wheel {
    width:2ex;
    fill:#DC9B2C;
}
.hr {
    border-bottom:1px solid #DC9B2C;
    width: 45%;
    color:#DC9B2C;
}
.dot {
    margin:.5ex;
}