header {
    height:11ex;
    margin-bottom: 1ex;
}
#navWrapper {
    width: 100%;
    justify-content: right;
    text-emphasis: right;
    display: flex;
}
nav {
    width: 100%;
    justify-items: center;
}