#RDlogo h1{
    color: #DED596 !important;
    line-height: 0.4ex !important;
    font-weight: 700 !important;
    margin-top: 0.5ex;
    text-decoration: none !important;
    
  }
  #logoWrapper {
    text-align: left;
    padding: 1ex;
  }
  
  #germany h2 {
    color: lightgray;
  }
  #RLogo {
    font-size: 2.8ex;
  }
  #DLogo {
    font-size: 3.2ex;
  }
  #germany {
    font-size: small;
    color: lightgray;
    line-height: 0.5ex !important;
  }
  