#meetingTables {
    display: flex;
    flex-wrap: wrap;
   
}
#meetingTables h1 {
    font-size: 4ex;
}
.meetingWrapper {
    flex:1;
    background-color: #283445bd;
    margin:1ex;
    padding:1ex;
    min-width: 30ex;
    max-width: 40ex;
    
}
.block {
    display: block;
}
.locationWrapper {
    font-size: 2.5ex;
    display: flex;
    flex-direction: column;
}
.address {
    font-size: larger;
}