
 .nav-item a {
    text-decoration: none;
    font-size: 20px;
    color: lightgray;
    display:block;
    }
    .nav-item a:hover {
        color: white;
    }
  
  
#responsive-navbar-nav {
    justify-content: space-evenly;
}
.mr-auto{
  width: 100%;
}
.nav-item {
  padding:2ex;
  display:block;
  border-bottom: 1px solid #555358;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("../images/DharmaWheel.png")!important    ;
  }
  .navbar-toggler-icon:hover {
    background-image: url("../images/DharmaWheel.png")!important    ;
  
  } 
  .navbar {
 
    padding-top: 1ex;
  }
  .nav-item ul  {
    width:30ex;
    margin:auto;
    display: flex;
    justify-content: space-around;
  }
  .nav-item .socialIcons {
    height: 2ex !important;
    fill: #DED596;
  }
 