
  a {
    text-decoration: none;
    font-size: 20px;
    color: lightgray;

    }
    a:hover {
        color: white;
    }
  
  
#responsive-navbar-nav {
    justify-content: space-evenly;
}
.mr-auto{
  width: 100%;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("../images/DharmaWheel.png")!important    ;
  }
  .navbar {
 
    padding-top: 1ex;
  }