.postPreviewWrapper {
    background-color: #283445;
    padding: 1ex;
    display: flex;
    
}
.postList a:hover {
    text-decoration: none;
}
.imageWrapper {
   min-width:10ex;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.previewImage {
    
    margin-bottom:50%;
    display: block;
    
}
.postPreviewBody {
    margin:1ex;
}
.previewTitle {
   
}
.postList {
    margin:0;
}