.articleTitle {
    text-align: center;
}

.root {
   text-align: right;
    justify-self: right;
}
.excerptDateWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #DC9B2C;
}
.excerpt {
    margin-left:1ex;
}
.mainImage{
    background-color: #0F1016;
}
@media only screen and (max-width: 480px) {
    .glass {
        padding: 0px;
    }
    .articleWrapper .container {
        padding: 2ex!important;
    }
}