.articleTitle {
    text-align: center;
}

.root {
   text-align: right;
    justify-self: right;
}
.excerptDateWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #DC9B2C;
}
.excerpt {
    margin-left:1ex;
}
.mainImage{
    background-color: #0F1016;
}